@-ms-viewport { width: device-width; }

body, header, main, div { margin: 0px; padding: 0px; }

.header-row1 div, .header-row2 div, .body-row1 div { display: inline-block;}

.container, .header-row1, .header-row2, .body-row1
		{ padding-right: 0px; padding-left: 0px; margin-right: auto; margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; width: auto; }
@media (min-width: 100px) { .container, .header-row1, .header-row2, .body-row1 { max-width: 768px; margin-left: 10px;} }
@media (min-width: 576px) { .container, .header-row1, .header-row2, .body-row1 { max-width: 768px; margin-left: 10px;} }
@media (min-width: 768px) { .container, .header-row1, .header-row2, .body-row1 { max-width: 992px; margin-left: 10px;} }
@media (min-width: 992px) { .container, .header-row1, .header-row2s, .body-row1 { max-width: 1180px; margin-left: 10px;} }
@media (min-width: 1200px) { .container, .header-row1, .header-row2, .body-row1 { max-width: 1180px; margin-left: auto;} }

.opvulling
		{ padding-right: 0px; padding-left: 0px; margin-right: auto; margin-left: auto; margin-top: 0px;  margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; width: auto; 
		  vertical-align: top; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 16pt; font-weight: 400; line-height: 1; text-align: right; }
/*@media (min-width: 100px) { .opvulling { width: 8px; background-color: blue;} }
@media (min-width: 576px) { .opvulling { width: 8px; background-color: green;} }
@media (min-width: 595px) { .opvulling { width: 8px; background-color: yellow;} }*/
@media (min-width: 100px) { .opvulling { width: 8px;} }
@media (min-width: 576px) { .opvulling { width: 8px;} }
@media (min-width: 595px) { .opvulling { width: 8px;} }
@media (min-width: 768px) { .opvulling { width: 200px;} }
@media (min-width: 992px) { .opvulling { width: 424px; } }
@media (min-width: 1200px) { .opvulling { width: 632px; } }

.samen-organiseren 
		{ padding-right: 0px; padding-left: 0px; margin-right: auto; margin-left: auto; margin-top: 0px;  margin-bottom: 0px; padding-top: 5px; padding-bottom: 0px; width: 300px; 
		  vertical-align: top; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 16pt; font-weight: 400; line-height: 1; text-align: right; }

/*@media (min-width: 100px) { .samen-organiseren { visibility: hidden; width: 0px; background-color: white;} }
@media (min-width: 576px) { .samen-organiseren { visibility: hidden; width: 0px; background-color: red;} }
@media (min-width: 595px) { .samen-organiseren { visibility: visible; width: 300px; background-color: purple;} }
@media (min-width: 630px) { .samen-organiseren { visibility: hidden; width: 300px; background-color: pink;} }*/
@media (min-width: 100px) { .samen-organiseren { visibility: hidden; width: 0px;} }
@media (min-width: 576px) { .samen-organiseren { visibility: hidden; width: 0px;} }
@media (min-width: 595px) { .samen-organiseren { visibility: visible; width: 300px;} }
@media (min-width: 630px) { .samen-organiseren { visibility: visible; width: 300px;} }
@media (min-width: 768px) { .samen-organiseren { visibility: visible; width: 300px; } }
@media (min-width: 992px) { .samen-organiseren { visibility: visible; } }
@media (min-width: 1200px) { .samen-organiseren { visibility: visible; } }

.motto1 {color: #000000; padding-right: 40px; margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;}
.motto2 {color: #FFFFFF; padding-right: 40px; margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;}

img {display:block; margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;}

.halve-witte-zon { margin-top: 0px; margin-bottom: 0px; padding-top: 5px; padding-bottom: 0px; margin-right: 0px; margin-left: 0px; height: 116px;}
.haalcentraal-logo { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; margin-left: 1px; height: 16px;}

p.breadcrumb { margin-top: 2px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; margin-left: 40px; width: auto; 
			  vertical-align: top; font-family: "Helvetica Neue", Arial, sans-serif; font-weight: 400; line-height: 1; text-align: left; }
@media (min-width: 100px) { p.breadcrumb { visibility: hidden; font-size: 1pt; } }
@media (min-width: 595px) { p.breadcrumb { visibility: visible; width: auto; font-size: 10pt; } }

a.breadcrumb { margin-left: 0px; display: block; text-decoration: none; display: inline-block; margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;}
a.breadcrumb:hover { text-decoration: underline}
a.breadcrumb.active, .breadcrumb { color: #495057; }
@media (min-width: 100px) { a.breadcrumb { visibility: hidden; width: 0px; height: 0px; margin-top: -20px; margin-bottom: 0px; padding-top: -20px; padding-bottom: 0px;} }
@media (min-width: 576px) { a.breadcrumb { visibility: hidden; width: 0px; height: 0px; margin-top: -20px; margin-bottom: 0px; padding-top: -20px; padding-bottom: 0px;} }
@media (min-width: 595px) { a.breadcrumb { visibility: visible; width: auto; height: auto; } }


.large-navigation { width:230px;  padding-right: 0px; padding-left: 10px; margin-right: auto; margin-left: auto; margin-top: 4px;  margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;
					vertical-align: top; font-family: "Helvetica Neue", Arial, sans-serif; font-weight: 400; text-align: left;}
@media (min-width: 100px) { .large-navigation { font-size: 10pt; height: auto; line-height: 1; } }
@media (min-width: 576px) { .large-navigation { font-size: 14pt; height: 300px; line-height: 1.5; } }

.content 
		{ padding-right: 0px; padding-left: 0px; margin-right: auto; margin-top: 0px;  margin-bottom: 0px; padding-top: 10px; padding-bottom: 0px; 
		  vertical-align: top; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 12pt; font-weight: 100; line-height: 1.2; text-align: left; color: #595959;}
@media (min-width: 100px) { .content { width: 310px; margin-left: 0px; } }
@media (min-width: 576px) { .content { width: 228px; margin-left: 40px; } }
@media (min-width: 768px) { .content { width: 420px; margin-left: 40px; } }
@media (min-width: 992px) { .content { width: 644px; margin-left: 40px; } }
@media (min-width: 1200px) { .content { width: 852px; margin-left: 40px; } }

ul, ol, li 
		{ font-family: "Helvetica Neue", Arial, sans-serif; font-size: 12pt; font-weight: 100; line-height: 1.2; text-align: left; color: #595959;}


.nav-link { display: block; text-decoration: none}
.nav-link:hover { text-decoration: underline}
.nav-link.active, .nav-link { color: #495057; }

h1 { font-family: "Helvetica Neue", Arial, sans-serif; font-size: 14pt; font-weight: bold; color: #595959;}
h1.liveheader { background-color: #ED7D31; border-radius: 8px; margin-left: -40px; padding-left: 20px; margin-top: -20px; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 14pt; font-weight: 100; color: white; line-height: 2; text-align: left;}
h1.shorttermheader { background-color: #C48170; border-radius: 8px; margin-left: -40px; padding-left: 20px; margin-top: -20px; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 14pt; font-weight: 100; color: white; line-height: 2; text-align: left;}
h1.longtermheader {  background-color: #A5A5A5; border-radius: 8px; margin-left: -40px; padding-left: 20px; margin-top: -20px; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 14pt; font-weight: 100; color: white; line-height: 2; text-align: left;}
@media (min-width: 100px) { .liveheader, .shorttermheader, .longtermheader { width: 168px; margin-left: 0px; } }
@media (min-width: 768px) { .liveheader, .shorttermheader, .longtermheader { width: 250px; margin-left: 0px; } }
@media (min-width: 992px) { .liveheader, .shorttermheader, .longtermheader { width: 400px; margin-left: 0px; } }

/*div.content div h1 { background-color: #ED7D31; border-radius: 8px; margin-left: -40px; padding-left: 20px; margin-top: -20px; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 14pt; font-weight: 100; color: white; line-height: 2; text-align: left;}
div.content div h2 { background-color: #C48170; border-radius: 8px; margin-left: -40px; padding-left: 20px; margin-top: -20px; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 14pt; font-weight: 100; color: white; line-height: 2; text-align: left;}
div.content div h3 {  background-color: #A5A5A5; border-radius: 8px; margin-left: -40px; padding-left: 20px; margin-top: -20px; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 14pt; font-weight: 100; color: white; line-height: 2; text-align: left;}
@media (min-width: 100px) { div.content div h1, div.content div h2, div.content div h3 { width: 168px; } }
@media (min-width: 768px) { div.content div h1, div.content div h2, div.content div h3 { width: 250px; } }
@media (min-width: 992px) {div.content  div h1, div.content div h2, div.content div h3 { width: 400px; } }*/

h2 { font-family: "Helvetica Neue", Arial, sans-serif; font-size: 12pt; font-weight: bold; color: #595959;}
h3 { font-family: "Helvetica Neue", Arial, sans-serif; font-style: italic; font-size: 12pt; font-weight: bold; color: #595959; line-height: 1; margin-bottom: -12px;}

div.live { border: 1px solid #ED7D31; padding-left: 60px; margin-bottom: 30px; margin-top: 20px; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 14pt; font-weight: 100; line-height: 1; text-align: left; color: #595959;}
div.shortterm { border: 1px solid #C48170; padding-left: 60px; margin-bottom: 30px; margin-top: 20px; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 14pt; font-weight: 100; line-height: 1; text-align: left; color: #595959;}
div.longterm { border: 1px solid #A5A5A5; padding-left: 60px; margin-bottom: 30px; margin-top: 20px; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 14pt; font-weight: 100; line-height: 1; text-align: left; color: #595959;}
@media (min-width: 100px) { .live, .shortterm, .longterm { width: 250px; margin-left: 0px; } }
@media (min-width: 576px) { .live, .shortterm, .longterm { width: 168px; margin-left: 0px; } }
@media (min-width: 768px) { .live, .shortterm, .longterm { width: 360px; margin-left: 0px; } }
@media (min-width: 992px) { .live, .shortterm, .longterm { width: 584px; margin-left: 0px; } }
@media (min-width: 1200px) { .live, .shortterm, .longterm { width: 792px; margin-left: 0px; } }

li.planning { margin-left: -30px; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 12pt; font-weight: 100; line-height: 1; text-align: left; color: #595959; }
@media (min-width: 100px) { .planning { width: 168px; } }
@media (min-width: 576px) { .planning { width: 148px; } }
@media (min-width: 768px) { .planning { width: 250px; } }
@media (min-width: 992px) { .planning { width: 400px; } }
@media (min-width: 1200px) { .planning { width: 400px; } }

a.live { text-decoration: none;  color: #595959;}
a.live:hover { text-decoration: underline}
a.live.active, .breadcrumb { color: #495057; }


div.content div ul li { margin-left: -30px; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 12pt; font-weight: 100; line-height: 1; text-align: left; color: #595959; }
@media (min-width: 100px) { .planning { width: 168px; } }
@media (min-width: 576px) { .planning { width: 148px; } }
@media (min-width: 768px) { .planning { width: 250px; } }
@media (min-width: 992px) { .planning { width: 400px; } }
@media (min-width: 1200px) { .planning { width: 400px; } }

/* background-colors */

.bg-yellow { background-color: #FFC000; }

.bg-red { background-color: #FF1234; }

.bg-green { background-color: green; }

.bg-blue { background-color: blue; }

.bg-gray { background-color: #f2f2f2; }

.bg-pink { background-color: pink; }


